<section class="daily">
  <div class="container">
    <div class="daily__img">
      <picture>
        <source
          srcset="
            ../img/daily-norm-of-sport/girl-mob.png,
            ../img/daily-norm-of-sport/girl-mob@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../img/daily-norm-of-sport/girl-tab.png,
            ../img/daily-norm-of-sport/girl-tab@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1024px)"
        />
        <img
          src="../img/daily-norm-of-sport/girl-desk.png"
          srcset="../img/daily-norm-of-sport/girl-desk@2x.png"
          alt="Image"
        />
      </picture>
    </div>
    <div class="daily__desc">
      <div class="daily__icon">
        <img src="" alt="" />
      </div>
      <div class="wraps">
        <h2 class="daily__desc-title">110 min</h2>
        <span class="daily__desc-sub">Daily norm of sports</span>
      </div>
      <p class="daily__desc-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </p>
    </div>
  </div>
</section>
