<section class="exercise-filters-section">
  <div class="container container-exercises-home">
    <h2 class="exercise-filter-title">Exercices</h2>
    <div class="wrapper-for-buttons-and-form">
      <div class="filters-buttons">
        <button
          class="filter-button first-filter-button"
          type="submit"
          data-filter="Muscles"
        >
          Muscles
        </button>
        <button class="filter-button" type="submit" data-filter="Body parts">
          Body parts
        </button>
        <button class="filter-button" type="submit" data-filter="Equipment">
          Equipment
        </button>
      </div>
      <form class="form-search visually-hidden">
        <input
          class="searching-input"
          type="text"
          name="searching-input"
          placeholder="Search"
        />
        <button class="searching-btn" type="submit">search</button>
      </form>
    </div>
    <ul class="exercise-filters-list"></ul>
    <ul class="exercises-gallery"></ul>
    <span class="loader-gallery is-hidden"></span>
    <div class="pagination-dots"></div>
  </div>
  <!-- <button
    class="return-to-the-top-btn return-to-the-top-small-btn visually-hidden"
    type="button"
  >
    <svg class="up-arrow-icon" width="13.2" height="13.2">
      <use href="./img/icons/symbols.svg#icon-up-arrow"></use>
    </svg>
  </button>
  <button
    class="return-to-the-top-btn return-to-the-top-big-btn visually-hidden"
    type="button"
  >
    <svg class="up-arrow-icon" width="33" height="33">
      <use href="./img/icons/symbols.svg#icon-up-arrow"></use>
    </svg>
  </button> -->
</section>
