
<div class="container container-muscles">
    <h2 class="exercises">Exercises</h2>
    <ul class="exercises-nav-list">
        <li class="exercises-nav-item"><button class="exercises-button" id="muscules-button">Muscles</button></li>
        <li class="exercises-nav-item"><button class="exercises-button" id="body-parts-button">Body parts</button></li>
        <li class="exercises-nav-item"><button class="exercises-button" id="equipment-button">Equipment</button></li>
    </ul>
    
    
    
    <div class="exercises-container"></div>
</div>