<!-- <section class="exercise-filters-section">
  <div class="container container-exercises-home">
    <header class="header-box">
      <h2 class="exercise-header">Exercises</h2>
      <span class="span-exercises"> / </span>
      <h3 class="exercise-group">Waist</h3>
    </header>

    <div class="exercises-toolbar">
      <div class="exercises-search">
        <ul class="exercises-nav-list">
          <li class="exercises-nav-item">
            <button
              class="exercises-button active"
              id="muscles-button"
              data-filter="Muscles"
              disabled
            >
              Muscles
            </button>
          </li>
          <li class="exercises-nav-item">
            <button
              class="exercises-button"
              id="body-parts-button"
              data-filter="Body parts"
            >
              Body parts
            </button>
          </li>
          <li class="exercises-nav-item">
            <button
              class="exercises-button"
              id="equipment-button"
              data-filter="Equipment"
            >
              Equipment
            </button>
          </li>
        </ul>
      </div>

     

    <ul class="exercises-gallery"></ul>

    <ul class="pagination-exercises"></ul>

    <span class="loader-gallery is-hidden"></span>
  </div>
</section> -->
