<div class="container">
  <div class="container-muscles">
    <h2 class="exercises">
      Exercises<span class="span-exercises"> 
    </h2>
    <div class="exercises-search">
      <ul class="exercises-nav-list">
        <li class="exercises-nav-item">
          <button
            class="exercises-button active"
            id="muscles-button"
            data-filter="Muscles"
            disabled
          >
            Muscles
          </button>
        </li>
        <li class="exercises-nav-item">
          <button
            class="exercises-button"
            id="body-parts-button"
            data-filter="Body parts"
          >
            Body parts
          </button>
        </li>
        <li class="exercises-nav-item">
          <button
            class="exercises-button"
            id="equipment-button"
            data-filter="Equipment"
          >
            Equipment
          </button>
        </li>
      </ul>
      
    </div>

    <ul class="exercises-container"></ul>

    <ul class="pagination">
      <li class="page">
        <button>1</button>
      </li>
      <li class="page">
        <button>2</button>
      </li>
      <li class="page">
        <button>3</button>
      </li>
    </ul>
  </div>
</div>
