<footer>
  <div class="container footer-container">
    <div class="aa">
      <div>
        <a href="#" class="energy-flow">energy.flow</a>
        <ul class="footer-ul">
          <li>
            <a href="#" target="_blank">
              <svg class="footer-svg" width="22.4px" height="22.4px">
                <use href="./icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <svg class="footer-svg" width="22.4px" height="22.4px">
                <use href="./icon.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" target="_blank">
              <svg class="footer-svg" width="22.4px" height="22.4px">
                <use href="./icon.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="footer-h2">
          Transforming your <span class="span-footer">body</span> shape with us
        </h2>
      </div>
      <div class="footer-send">
        <p class="footer-p">Subscribe and learn about new exercises!</p>
        <form id="footerForm">
          <input type="email" id="emailInput" required placeholder="Email" />
          <button type="button" id="submitButton">Send</button>
        </form>
      </div>
    </div>
    <p class="footer-pre">
      Energy Flow. All rights reserved.
      <sapn class="Privacy-Policy"
        >Privacy Policy <span class="a">/</span> Terms of Service</sapn
      >
    </p>
  </div>
</footer>
