<footer>
  <div class="container footer-container">
    <div class="footer-div">
      <div class="footer-style">
        <div>
          <a href="#" class="energy-flow">energy.flow</a>
          <ul class="footer-ul">
            <li>
              <a href="https://www.facebook.com/goITclub/" target="_blank">
                <svg class="footer-svg" width="36" height="36">
                  <use href="./svg/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/goitclub/" target="_blank">
                <svg class="footer-svg" width="36" height="36">
                  <use href="./svg/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/GoIT" target="_blank">
                <svg class="footer-svg" width="36" height="36">
                  <use href="./svg/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div>
            <h2 class="footer-h2">
              Transforming your <span class="span-footer">body</span> shape with
              us
            </h2>
          </div>
          <div class="footer-send">
            <p class="footer-p">Subscribe and learn about new exercises!</p>
            <form id="footerForm">
              <input
                type="email"
                id="emailInput"
                required
                placeholder="Email"
              />
              <button type="button" id="submitButton">Send</button>
            </form>
          </div>
        </div>
      </div>
      <p class="footer-paragraph">
        Energy Flow. All rights reserved.
        <sapn class="Privacy-Policy"
          >Privacy Policy <span class="padding">/</span> Terms of Service</sapn
        >
      </p>
    </div>
  </div>
</footer>
