<header class="header">
  <div class="container header-container">
    <!-- LOGO -->
    <a href="./index.html" class="logo header-logo">energy.flow</a>
    <!-- NAV -->
    <nav class="nav">
      <ul class="header-nav">
        <li class="header-nav-item">
          <a class="header-nav-link is-active" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link no-active" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>
    <!-- SOC-LINK -->
    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          href=" https://www.facebook.com/goITclub/"
          class="header-soc-link"
          aria-label="link to Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-soc-icon soc-icon" width="28" height="28">
            <use href="./svg/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href=" https://www.instagram.com/goitclub/"
          class="header-soc-link"
          aria-label="link to Instargam"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-soc-icon soc-icon" width="28" height="28">
            <use href="./svg/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-soc-link"
          aria-label="link to YouTube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="header-soc-icon soc-icon" width="28" height="28">
            <use href="./svg/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <!-- BURGER -->
    <button
      class="header-mob-btn js-open-menu"
      aria-label="Burger menu"
      rel="noopener noreferrer"
    >
      <svg class="header-mob-icon" width="32" height="16">
        <use href="./svg/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>

<!-- MOB MENU -->
<div class="header-mob-menu js-menu-container is-hidden">
  <div class="mob-wrap">
    <!-- MOB-LOGO -->
    <a href="./index.html" class="logo mob-logo">energy.flow</a>

    <!-- CLOSE-BTN -->
    <button
      class="close-mob-btn close-menu-btn js-close-menu"
      aria-label="Close menu"
      rel="noopener noreferrer"
    >
      <svg class="close-mob-icon" width="20" height="20">
        <use href="./svg/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>

  <!-- MOB-NAV -->
  <ul class="mob-nav">
    <li class="mob-nav-item">
      <a class="mob-nav-link is-active" href="./index.html">Home</a>
    </li>
    <li class="mob-nav-item">
      <a class="mob-nav-link no-active" href="./favorites.html">Favorites</a>
    </li>
  </ul>
  <!-- MOB - SOC LINK -->
  <ul class="mob-soc-list">
    <li class="mob-soc-item">
      <a
        href=" https://www.facebook.com/goITclub/"
        class="mob-soc-link"
        aria-label="link to Facebook"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-soc-icon soc-icon" width="25" height="25">
          <use href="./svg/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a
        href=" https://www.instagram.com/goitclub/"
        class="mob-soc-link"
        aria-label="link to Instargam"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-soc-icon soc-icon" width="25" height="25">
          <use href="./svg/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="mob-soc-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="mob-soc-link"
        aria-label="link to YouTube"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="mob-soc-icon soc-icon" width="25" height="25">
          <use href="./svg/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
