<section class="quote-container">
    <div class="container quote-main">
        <div class="quote-img">
            <svg class="icon-run" width="34" height="32">
                <use href="../svg/icons.svg#icon-running-man"></use>
            </svg>
            <h2 class="quote-title">Quote of the day</h2>
            <svg class="icon-quotes" width="32" height="32">
                <use href="../svg/icons.svg#icon-quotes"></use>
            </svg>
        </div>
        <div class="quote__backend" id="quote"></div>
    </div>
    <div class="quote-background-img"></div>
</section>
