<section class="section">
  <div class="quote container">
    <div class="quote__box">
      <div class="quote__container">
        <div class="icon-radius">
          <svg class="quote__icon-run" width="18" height="20">
            <use href="../svg/icons.svg#icon-running-man"></use>
          </svg>
        </div>
        <h2 class="quote__title">Quote of the day</h2>
        <svg class="quote__icon-quotes">
          <use href="./svg/icons.svg#icon-quotes"></use>
        </svg>
      </div>
      <div class="quote__backend"></div>
    </div>
    <div class="back-image"></div>
  </div>
</section>
