html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans';
  color: var(--black);
  background-color: rgba(246, 246, 246, 1);
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
  display: none;
}

.on-scroll {
  overflow: hidden;
}

.on-backdrop-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
