.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-backdrop);
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercises-modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 335px;
    border-radius: 20px;
    padding: 40px 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--white-dirty);
    /* background-color: black; */
}

.exercise-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
}

.exercise-close-icon {
  stroke: var(--black);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.exercise-image-modal {
  border-radius: 12px;
  margin-bottom: 20px;
}

.exercise-name-container {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.exercise-name {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.exercise-rating {
  font-size: 12px;
  line-height: 1.5;
}

/* .exercise-rating::after {
  content: '';
  background-color: var(--stars);
  height: 1px;
  display: block;
} */
.decorate-line {
  border-bottom: 1px solid var(--stars);
}

.exercise-params-container {
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.exercise-params-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.exercise-params-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.exercise-param-name {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercise-param-value {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 500;
}

/* .exercise-param-value::after {
  margin-top: 20px;
  content: '';
  background-color: var(--stars);
  height: 1px;
  display: block;
} */

.exercise-descr {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px; /* 128.571% */
}

.exercise-buttons {
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exercise-favorite-btn {
    display: flex;
  padding: 12px 24px;
  color: var(--white-dirty);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 30px;
  background-color: var(--grey);
  border: 1px var(--grey);
  justify-content: center;
  align-items: center;
}

.exercise-favorite-btn:hover,
.exercise-favorite-btn:focus {
  background: var(--grey-hover);
}

.exercise-fav-icon {
    width: 16px;
  height: 16px;
  margin-left: 8px;
  fill: transparent;
  stroke: var(--white-dirty);
}

.exercise-raiting-btn {
  padding: 12px 24px;
  color: var(--black);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 30px;
  border: 1px solid black;
}

.exercise-raiting-btn:hover,
.exercise-raiting-btn:focus {
  border: 1px solid var(--grey);
}

@media screen and (min-width: 768px) {
  .exercises-modal-window {
    width: 716px;
    padding: 40px;
  }

  .exercise-image-wrapper {
    width: 270px;
    margin-right: 24px;
  }

  .exercise-container {
    display: flex;
  }

  .exercise-info-wrapper {
    width: 343px;
  }

  .exercise-buttons {
    flex-direction: row;
  }

  .exercise-name {
    font-size: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .exercises-modal-window {
    width: 732px;
  }

  .exercise-image-wrapper {
    margin-right: 40px;
  }
}
