
.no-results {
  display: block;
  box-sizing: border-box;
  text-align: center;
  color: var(#1b1b1b);
  padding-top: 164px;
  padding-bottom: 320px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
    .no-results {
        padding: 222px 84px 585px;
        font-size: 18px;
        line-height: 1.33;
    }
}


@media screen and (min-width: 1440px) {
    .no-results {
        padding: 217px 346px 350px;
    }

    .search-container {
        height: 639px;
    }
}
