.footer-div {
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(27, 27, 27, 0.7),
      rgba(27, 27, 27, 0.7)
    ),
    url(../img/footer/footer-bg-mob.png);
  margin-top: 20px;
  border-radius: 30px;
  height: 471px;
}

.footer-style {
  padding: 40px 20px 20px 20px;
}

.energy-flow {
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -2%;
  color: rgb(246, 246, 246);
  font-weight: 700;
}

.footer-ul {
  display: flex;
  gap: 12px;
}

.footer-h2 {
  width: 100%;
  color: #f6f6f6;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -2%;
  margin-bottom: 20px;
}

.span-footer {
  color: #f6f6f64d;
}

.footer-svg {
  fill: #f6f6f6;
  box-sizing: border-box;
  border: 1px solid rgba(246, 246, 246, 0.2);
  border-radius: 10px;
  padding: 8px;
  margin-top: 9px;
}

.footer-svg:hover {
  fill: #5f6560;
  border: #5f6560;
}

.footer-p {
  color: rgb(246, 246, 246);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 20px;
}

#emailInput {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 30px;
  padding: 12px 0 12px 14px;
  color: rgba(246, 246, 246, 0.6);
  font-size: 16px;
  line-height: 24px;
}

#emailInput:focus {
  outline: none;
}

#submitButton {
  width: 100%;
  border-radius: 30px;
  background: rgb(126, 132, 127);
  padding: 12px 0;
  margin-top: 20px;
  border: none;
  color: rgb(246, 246, 246);
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 5px;
}

#submitButton:hover {
  background: #5f6560;
}

.footer-paragraph {
  color: rgb(246, 246, 246);
  font-size: 16px;
  width: 193px;
  font-size: 12px;
  margin-left: 20px;
  line-height: 20px;
}

.padding {
  padding: 0 5px;
}

@media screen and (max-width: 768px) and (min-resolution: 192dpi) {
  .footer-div {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-mob@2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1438px) {
  .footer-div {
    background-image: linear-gradient(
        to bottom,
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-tab.png);
    height: 576px;
    width: 100%;
    border-radius: 50px;
  }

  .energy-flow {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin: 66px 0 0 48px;
  }

  .footer-ul {
    margin: 30px 0 0 48px;
  }

  .footer-svg {
    width: 44px;
    height: 44px;
    padding: 8px;
    margin-top: 0;
  }

  .footer-style {
    display: flex;
    gap: 139px;
  }

  .footer-h2 {
    font-size: 54px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  .footer-p {
    color: rgb(246, 246, 246);
    font-size: 18px;
    line-height: 24px;
  }

  #emailInput {
    width: 352px;
  }

  #submitButton {
    width: 352px;
  }

  .footer-paragraph {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 120px;
  }

  .Privacy-Policy {
    padding-left: 30px;
  }
}

@media screen and (max-width: 1439.98px) and (min-resolution: 192dpi) {
  .footer-div {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-tab@2x.png);
    border-radius: 50px;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  .footer-div {
    background-image: linear-gradient(
        to bottom,
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-desk.png);
    width: 100%;
    height: 454px;
    border-radius: 50px;
  }
  .footer-style {
    display: flex;
    gap: 140px;
    height: 415px;
    padding-top: 64px;
  }
  .energy-flow {
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin: 66px 0 0 48px;
  }
  .footer-ul {
    margin: 30px 0 0 48px;
  }
  .footer-svg {
    width: 44px;
    height: 44px;
    padding: 8px;
    margin-top: 0;
  }
  .footer-h2 {
    width: 488px;
    height: 186px;
    font-size: 64px;
    font-weight: 400;
    line-height: 62px;
  }

  .footer-input-block {
    display: flex;
    gap: 150px;
  }

  .footer-p {
    width: 346px;
    font-size: 18px;
    line-height: 24px;
  }

  .footer-paragraph {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  #emailInput {
    width: 345px;
  }

  #submitButton {
    width: 346px;
  }

  .Privacy-Policy {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer-div {
    background-image: linear-gradient(
        rgba(27, 27, 27, 0.7),
        rgba(27, 27, 27, 0.7)
      ),
      url(../img/footer/footer-bg-desk@2x.png);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
  }
}
