.quote__box {
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background: var(--grey);
    position: relative;
}
.quote__container {
    display: flex;
    margin: 0 auto;
}
.icon-radius{
    background-color: rgba(246, 246, 246, 0.1);
    border-radius: 50%;
    width: 34px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    margin-left: 20px;
}
.quote__icon-run {
    fill: var(--white-dirty);
}
.quote__title {
    color: var(--white-dirty);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 42px;
    margin-left: 12px;
}
.quote__icon-quotes {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: cover;
    position: absolute;
    top: 40px;
    right: 20px;
    fill: var(--white);
}
.quote__backend {
    padding: 0 20px 20px;
}
.quote__backend-text {
    color: var(--dark-star);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 46px;
    margin-top: 14px;
}
.quote__backend-author {
    color: var(--white-dirty);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 14px;
    margin-left: 46px;
}
.back-image {
    background-image: url('../img/quote/rectangle-mob.png');
    background-color: var(--white-dirty);
    width: 335px;
    height: 272px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
}
@media (max-width: 767px) {
    .quote__box {
        width: 335px;
        height: 272px;
        border-radius: 30px;
        background: var(--grey);
        position: relative;
        transition: border-color 0.3s ease;
    }
    .quote__box:hover,
    .quote__box:focus {
        outline: none;
        border: 2px solid var(--modal-backdrop);
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
    .quote__box {
        width: 736px;
        height: 302px;
        border-radius: 50px;
    }
    .icon-radius{
        margin-top: 64px;
        margin-left: 80px;
    }
  
    .quote__icon-quotes {
        width: 48px;
        height: 48px;
        top: 32px;
        right: 80px;
    }
    .quote__backend {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
    }
    .quote__title {
        font-size: 24px;
        line-height: 1.33;
        margin-top: 64px;
    }
    .quote__backend-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        margin-left: 98px;
        margin-right: 80px;
        margin-top: 16px;
    }
    .quote__backend-author {
        margin-top: 25px;
        margin-left: 98px;
    }
    .back-image {
        width: 736px;
        height: 302px;
        border-radius: 50px;
        background-image: url('../img/quote/rectangle-tab.png');
        background-color: var(--hero-bg);
    }
}
/* Desktop */
@media screen and (min-width: 1440px) {
    .quote__title {
        margin-top: 64px;
        margin-left: 16px;
    }
    .quote {
        display: flex;
        margin-top: 0px;
    }
    .quote__box {
        width: 704px;
        height: 302px;
        margin-bottom: 20px;
    }
    .back-image {
        width: 704px;
        height: 302px;
        background-image: url('../img/quote/rectangle-desk.png');
        background-color: var(--hero-bg);
    }
    .icon-radius{
        margin-top: 64px;
        margin-left: 64px;
    }

    .quote__icon-quotes {
        width: 48px;
        height: 48px;
        top: 32px;
        right: 64px;
    }
    .quote__backend-text {
        margin-left: 94px;
        margin-right: 32px;
    }
    .quote__backend-author {
        margin-top: 25px;
        margin-left: 94px;
    }
}