@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./exercises-muscles.css');
@import url('./exercises-body-parts.css');
@import url('./exercises-search-start.css');
@import url('./exercises-modal-backdrop.css');
@import url('./daily-norm-of-sport.css');
@import url('./footer.css');
@import url('./pagination.css');
@import url('./favorites.css');
