@import url('./fonts.css');
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./quote.css');
@import url('./exercises-muscles.css');
@import url('./exercises-body-parts.css');
/* @import url('./exercises-search-start.css'); */
@import url('./exercises-modal-backdrop.css');
@import url('./daily-norm-of-sport.css');
@import url('./footer.css');
@import url('./pagination.css');
@import url('./favorites.css');

body {
  font-family: 'DM Sans';
  color: var(--black);
}

.container {
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
