:root {
  --black: rgb(27, 27, 27);
  --grey: rgb(126, 132, 127);
  --grey-hover: rgb(95, 101, 96);
  --white-dirty: rgb(246, 246, 246);
  --stars: rgba(27, 27, 27, 0.2);
  --stars-hover: rgb(238, 161, 12);
  --white: rgb(255, 255, 255);
  --hero-bg: rgb(232, 232, 232);
  --dark-star: rgba(246, 246, 246, 0.6);
  --modal-backdrop: rgba(27, 27, 27, 0.6);
}
