:root {
  --black: #1b1b1b;
  --grey: #7e847f;
  --grey-hover: #5f6560;
  --white-dirty: #f6f6f6;
  --stars: #1b1b1b33;
  --stars-hover: #eea10c;
  --white: #ffffff;
  --hero-bg: #e8e8e8;
  --dark-star: #f6f6f699;
  --modal-backdrop: #1b1b1b99;
}
